/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}
/*posicionamiento wrapper menu oculto*/
.sidebar-closed .wrapper{
	margin-top: 2px;
	margin-left: 160px;
}
/*posicionamiento wrapper*/
.wrapper{
	margin-left: 275px;
	margin-top: -380px;
	width: 79%;
}
      /*dashboard*/
/*menu-left and header*/
.header{
	background-color: #424a5d;
	width: 100%;
	position: fixed;
	padding-top: 15px;
	border-bottom: 1px solid #2A3342;
	z-index: 1;
}
.logout{
	background-color: #9C4C9D;
    color: #E1D2E1;
    margin-top: -25px;
    font-size: 10px;
    border-radius: 5px;
    padding: 7px 15px !important;
    margin-right: 20px;
    margin-bottom: 10px;
}
.logo b{
	color: white;
	margin-left: 15px;
}
.sidebar-toggle-box{
	color: white;
	margin-left: 15px;
	display: inline;
}
#sidebar{
	background-color: #424a5d;
	width: 200px;
	height: 100%;
	color: white;
	padding-top: 60px;
	margin: 0;
}
aside ul li{
	list-style: none;
	margin-left: -30px;
    padding: 10px;
}
aside a{
	color: #AEB2B7;
	font-size: 10px;
}
aside ul li:hover{
	background-color: #9C4C9D;
	text-decoration: none;
	margin-right: 10px;
	border-radius: 5px;
}
aside li:hover a{
	color: white;
	text-decoration: none;
	font-size: 12px;
}
aside .img-circle{
	margin-left: -40px;
}
aside h5{
	margin-left: -40px;
}
/*center*/
.box1{
	font-size: 40px;
	color: #989898;
	margin-bottom: 20px;
}
.box0{
	text-align: center;
}
.box0:hover{
	background-color: white;
	box-shadow: 1px 2px 5px 0px rgba(204,204,204,1);
}
.box0 p{
	width: 100%;
	color: #F2F2F2;
	border-top: 1px solid #b8b8b8;
	font-size: 8px;
	text-align: center;
}
.box0:hover p{
	color: #FF936D;
	border-top: 1px solid white;
}
.box0 .box1 h3{
	margin-top: 5px;
}
.page-header{
	color: #797979;
	margin-left: -10px;
	margin-top: -10px;
}
.main-chart{
	margin-left: -60px;
	padding-right: 10px;
}
.row .col-lg-5{
	color: #7B7B7B;
	margin-top: -20px;
    margin-left: -2px;
    font-size: 11px;
    text-align: justify;
}
.row .col-lg-5 h4{
	margin-top: -4px;
	margin-left: 0;
}
.buttons a{
	margin-left: 7px;
}
.showback{
	background-color: white;
	padding: 15px;
	margin-top: 20px;
	-webkit-box-shadow: 2px 5px 5px 0px rgba(170,178,189,0.98);
	-moz-box-shadow: 2px 5px 5px 0px rgba(170,178,189,0.98);
	box-shadow: 2px 5px 5px 0px rgba(170,178,189,0.98);
	margin-left: 15px;
}
.showback h4{
	margin-top: -5px;
}
/*menu-right*/
.ds{
	background-color: white;
	width: 28%;
	margin-top: -13px;
	margin-left: 23px;
}
.desc
{
	padding-top: 30px;
	border-bottom:1px solid #B8B8B8;
	padding-bottom: 20px;
}
.wrapper .ds h3{
	background-color:#9c4c9d;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top:20px;
	font-size: 18px;
	text-align: center;
	color:white;
	position:static;
}
.bg-theme{
	background-color: #68DFF0;
	margin-left: 15px;
}
.desc .details p{
	font-size: 12px;
	color: #939393;
	margin-left: 55px;
	margin-top: -20px;
	padding-right: 30px;
}
.details muted{
	text-transform: uppercase;
	font-style: italic;
}
.thumb .img-circle{
	margin-left: 10px;
	margin-top: -5px;
}
         /*buttons*/
.showback:first-child .btn{
	color: white;
}
.showback .btn-round{
	color: white;
}
.showback .btn-default{
	color: black !important;
}
.showback .btn-primary{
	color: white;
}
.col-md-6 .showback{
	margin-left: -10px;
	margin-top: 15px;
}
.mt {
	width: 107%;
    margin-left: -70px;
    margin-top: -400px;
}
.col-md-6 .btn{
	font-size: 12px;
}
.col-md-6 .showback h4{
	margin-top: -20px;
	margin-left: 0px;
}
          /*login*/
.form-login{
	background-color: #FFFFFF;
	max-width: 30%;
	margin: 70px auto;
	border-radius: 5px;
}
body{
	background-color: #F2F2F2;
}
.form-login h2{
	color: white;
	background-color: #68DFF0;
	text-align: center;
	border-radius: 5px 5px 0 0;
	text-transform: uppercase;
	font-size: 20px;
	padding: 25px;
}
.login-wrap{
	padding: 20px;
}
.registration{
	text-align: center;
	margin-top: 10px;
	color: #888888;
}
label a{
	font-weight: normal;
}
.btn{
	color: #797979;
}
.centered p{
	color: #888888;
}
/*form-component*/
.form-panel{
	background-color: white;
}
/*basic_tables*/
.content-panel{
	background-color: white;
	padding-bottom: 15px;
	margin-top: 20px;
	-webkit-box-shadow: 2px 5px 5px 0px rgba(170,178,189,0.98);
	-moz-box-shadow: 2px 5px 5px 0px rgba(170,178,189,0.98);
	box-shadow: 2px 5px 5px 0px rgba(170,178,189,0.98);
}
.wrapper h3{
	color: #797979;
	margin-bottom: -5px;
}
td .btn-xs i{
	color: white;
}
.wrapper thead th{
	color: #7C7C7C;
}
.wrapper h4{
	color: #8D8D8D;
	padding-top: 20px;
	margin-left: 10px;
}
.wrapper td{
	color: #848484;
}


